# Postgres
POSTGRES_DB_HOST_LOCAL=""
POSTGRES_DB_PORT_LOCAL=""
POSTGRES_DB_NAME_LOCAL=""
POSTGRES_DB_USER_LOCAL=""
POSTGRES_DB_PASSWORD_LOCAL=""

POSTGRES_DB_HOST_DEV=""
POSTGRES_DB_PORT_DEV=""
POSTGRES_DB_NAME_DEV=""
POSTGRES_DB_USER_DEV=""
POSTGRES_DB_PASSWORD_DEV=""

POSTGRES_DB_HOST_PROD=""
POSTGRES_DB_PORT_PROD=""
POSTGRES_DB_NAME_PROD=""
POSTGRES_DB_USER_PROD=""
POSTGRES_DB_PASSWORD_PROD=""

# Redis
REDIS_CLIENT_LOCAL=""
REDIS_CLIENT_DEV=""
REDIS_CLIENT_PROD=""

# URL
COUNTRY_COVID_DATA_URL="https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_malaysia.csv"
STATE_COVID_DATA_URL="https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/cases_state.csv"
COUNTRY_VACC_DATA_URL="https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/vax_malaysia.csv"
STATE_VACC_DATA_URL="https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/vax_state.csv"

COVID_SYMBOL="COV"
VACC_SYMBOL="VAC"

COUNTRY_COVID_LATEST="COUNTRY_COVID_LATEST"
COUNTRY_COVID_ALL="COUNTRY_COVID_ALL"

COUNTRY_VACC_LATEST="COUNTRY_VACC_LATEST"
COUNTRY_VACC_ALL="COUNTRY_VACC_ALL"

STATE_COVID_LATEST="STATE_COVID_LATEST"
STATE_COVID_ALL="STATE_COVID_ALL"

STATE_VACC_LATEST="STATE_VACC_LATEST"
STATE_VACC_ALL="STATE_VACC_ALL"